<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <center><h1>Yahoo News</h1>
            
           <a href="/" class="btn btn-danger">Refresh News</a>
        </center>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h3 class="text-centre">News</h3>
                    <br>
                    {% for i in news %}
                    <h5> - {{i}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
            </div>

            <div>

                {% if venues.has_previous %}
                    
                    <a href = "?page=1">&laquo; First</a>
                    <a href = "?page={{venues.previous_page_number}}">Previous</a>

                {% endif %}

                

                    Page {{venues.number}} of {{venues.paginator.num_pages }}
                    

                {% if venues.has_next %}

                    <a href ="?page={{venues.next_page_number}}">Next</a>
                    <a href ="?page={{venues.paginator.num_pages}}">Last &raquo;</a>


                {% endif %}

            </div>
            
        </div>
 
 
    </div>
    
    


    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>